@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-300;
}

:root {
  --bgdark: url("../img/bgdark.gif");
  --bglight: url("../img/bglight.gif");

  --darkcontato: url("../img/bgdcontato.gif");
  --lightcontato: url("../img/bglcontato.gif");
  --img1: url("../img/clima.png");
  --img2: url("../img/git.png");
  --img3: url("../img/financing1.png");
  --img4: url("../img/arsha1.png");

  --roboto: "Roboto", serif;
  --bebas: "Bebas Neue", serif;
}
